.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  row-gap: 10px;


}

/*@media (max-width: 768px) {
  .grid {
    padding-left: 0px;
    grid-template-columns: repeat(2, 1fr);
  }
}*/

.grid-item {
  background: #1f0a4d;
  text-align: left;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: aqua;
  width: 250px;
  height: 480px;
  line-height: 0;
}

.productscount{
    width: 100%;
    color: white;
}

.likes{
    color: grey;
}

.regioncolor{
    color: green;
}

.product-img{
  width: 248px;
  height: 300px;
  object-fit: cover;
   
}

.cashback{
  color:greenyellow;
  font-size: 15px;
}
.image-wrapper {
  position: relative;
  width: 248px;
  height: 300px;
  overflow: hidden;
}

.overlay-text{
  font-size: 12px;
}
/* BLURRED TRANSPARENT BAR */
.image-overlay {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.from{
  color: grey;
  font-size: 15px;
}

.oldPrice{
  text-decoration: line-through;
}

.sale{
  color:greenyellow;
}

.infoTop{
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.infoBottom{
  line-height: 0;
  align-content:end;
  padding-left: 20px;
}

/*@media (max-width: 768px) {
    .product-img{
    max-height: 190px;
    }}

@media (max-width: 768px) {
    .grid-item {
  padding: 16px;
  background: purple;
  text-align: left;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: aqua;
  width: 150px;
  height: 400px;
}
}*/