/* Parent container */
.item-container {
  display: flex;
  gap: 40px;              /* space between the two sections */
  align-items: flex-start; /* align top */
}

/* Left side */
.Object-wrapper {
  flex: 1;                /* take available space */
}

/* Right side */
.Choise-wrapper {
  align-items: center;
  width: 300px; /* fixed width sidebar */

  display: flex;
  flex-direction: column;   /* stack vertically */
  gap: 20px;
}