.input-wrapper{
    background-color: #4518ac;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
    color: white;
}

input:focus{
    outline: none;
}

.clear-icon {
    cursor: pointer;
    color: #fff;
    transition: color 0.2s ease;
}

.clear-icon:hover {
    color: grey;
}